
<div class="row">
    <div class="col-md-4">
        <h2>Ghicește cuvântul</h2>
        <p>Ghicește literele lipsă și completează cuvântul </p>
        <p class="btn btn-default">@Html.ActionLink("Începe", "GuessWord", "Game")</p>
    </div>
    <div class="col-md-4">
        <h2>Vezi definițiile cuvintelor</h2>
        <p>Cu ajutorul dexonline.ro punem la dispoziție definițiile cuvintelor căutate de dvs.</p>
        <p class="btn btn-default">@Html.ActionLink("Gasește definiții", "Index", "Resource")</p>
    </div>
    <div class="col-md-4">
        <h2>Gaseste sinonime, omonime, etc</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>