BL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DAL/bin/Debug/DAL.dll.config
DAL/obj/Debug/DAL.csproj.FileListAbsolute.txt
DAL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DAL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DAL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RoWorks/bin/Debug/RoWorks.exe.config
RoWorks/obj/Debug/App.g.cs
RoWorks/obj/Debug/App.g.i.cs
RoWorks/obj/Debug/MainWindow.baml
RoWorks/obj/Debug/MainWindow.g.cs
RoWorks/obj/Debug/MainWindow.g.i.cs
RoWorks/obj/Debug/RoWorks.Properties.Resources.resources
RoWorks/obj/Debug/RoWorks.csproj.FileListAbsolute.txt
RoWorks/obj/Debug/RoWorks.g.resources
RoWorks/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RoWorks/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RoWorks/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UnitTests/bin/Debug/Moq.xml
UnitTests/bin/Debug/nunit.framework.xml
UnitTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UnitTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UnitTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UnitTests/obj/Debug/UnitTests.csproj.FileListAbsolute.txt
WebSite/bin/Newtonsoft.Json.xml
WebSite/bin/System.Web.Helpers.xml
WebSite/bin/System.Web.Mvc.xml
WebSite/bin/System.Web.Optimization.xml
WebSite/bin/System.Web.Razor.xml
WebSite/bin/System.Web.WebPages.Deployment.xml
WebSite/bin/System.Web.WebPages.Razor.xml
WebSite/bin/System.Web.WebPages.xml
WebSite/bin/WebSite.dll.config
WebSite/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WebSite/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WebSite/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WebSite/obj/Debug/WebSite.csproj.FileListAbsolute.txt
Packages
bin
obj
BL/obj/Debug/BL.csproj.FileListAbsolute.txt
