<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="ConnectionString" value="data source=37.251.158.109,30000; Database=project4; User Id=adrian; password=adrian1;"/>-->
    <!--<add key="ConnectionString" value="data source=HOME\SQLEXPRESS; Database=project4; Integrated Security = SSPI"/>-->
    <add key="ConnectionString" value="data source=ADRIANSPC\SQLEXPRESS; Database=project4; Integrated Security = SSPI"/>
  </appSettings>
</configuration>