<div id="mainTextMenu">

</div>
<div id="mainTextDisplay">
    <textarea style="width:100%; min-height:250px" id="mainTextDisplayId"></textarea>
    @*div for TrueEditor preview*@
    <div id="previewDiv"></div>
</div>
